{% extends 'index.html' %}

{% block lista%}

<h1>Listado de Campeonatos</h1>
<hr>
<br>
<div class="row">
    <div class="col-md-4">
       <a class="btn btn-primary" href="{% url 'campeonato' %}" role="button">Agregar Campeonato &raquo;</a>
    </div>
</div>

<br>
<table class="display" cellspacing="0" width="100%" id = "myTable">
    <thead>
        <tr>
            <th>
                Campeonato
            </th>
            <th>
                Fecha Inicio
            </th>
            <th>
                Fecha Fin
            </th>
            <th>
                Diciplina
            </th>
        </tr>
    </thead>
    <tbody>
	
	{% for campeonato in campeonatos %}
		<tr>
			<td>
				{{campeonato.nombre_campeonato}} 					
			</td>
			<td>
				{{campeonato.fecha_inicio}} 					
			</td>
			<td>
				{{campeonato.fecha_final}} 					
			</td>
			<td>
				{{campeonato.id_disciplina}} 					
			</td>
		</tr>
	
	{% endfor %}
	</tbody>

</table>
{% endblock %}