{% extends 'index.html' %}

{% block lista%}

<h1>Listado de Equipos</h1>
<hr>
<br>
<div class="row">
    <div class="col-md-4">
       <a class="btn btn-primary" href="{% url 'equipo' %}" role="button">Agregar Equipo &raquo;</a>
    </div>
</div>

<br>
<table class="display" cellspacing="0" width="100%" id = "myTable">
    <thead>
        <tr>
            <th>
                Nombre Equipo
            </th>
            <th>
                Campeonato
            </th>
            <th>
                Representante
            </th>
        </tr>
    </thead>
    <tbody>
	
	{% for equipo in equipos %}
		<tr>
			<td>
				{{equipo.nombre_equipo}} 					
			</td>
			<td>
				{{equipo.id_campeonato}} 					
			</td>
			<td>
				{{equipo.id_representante}} 					
			</td>
			
		</tr>
	
	{% endfor %}
	</tbody>

</table>
{% endblock %}